*{
    padding: 0;
    margin: 0;
}

h1 {
    color: blue;
}

.library{
    display: flex;
    gap: 10px;
    justify-content: flex-start;

}
.book {
    border: 1px solid black;
    padding: 5px;
}

